.header {
    align-items: center;
    background-color: ghostwhite;
    color:rgba(41, 30, 50, 0.8);
    display: flex;
    flex-direction: row;
    font-family: Oswald;
    justify-content: space-between;
    padding-left: 2%;
    margin-top: none;
}

.links-container {
    display: flex;
    justify-content: space-around;
    width: 40vw;
}

.header-link {
    background: none;
    border: none;
    border-bottom: 3px solid transparent;
    color: black;
    font-family: Oswald;
    font-size: 1.5em;
    height: 50%;
    text-align: center;
}

.main-header-link:visited,
.header-link:visited {
    color: rgba(41, 30, 50, 1);
}

.header-link:hover {
    border-bottom: 3px solid rgba(41, 30, 50, 1);
}