.Activity-Details {
    font-family: 'Open Sans';
    background-color: ghostwhite;
    color: rgba(41, 30, 50, 1);
    margin-bottom: 10px;
    padding: 3%;
}

.rating {
    display: flex;
    justify-content: space-between;
    font-size: 1.25em;
    margin: 0;
}

.date {
    font-size: 1em;
    margin: 0;
}

.close {
    color: red;
    opacity: 0.5;
    font-weight: bold;
    justify-self: center;
}

.close:hover,
.close:focus {
    color: red;
    opacity: 1;
    cursor: pointer;
}