.Activity-Details {
    font-family: 'Open Sans';
    background-color: ghostwhite;
    color: rgba(41, 30, 50, 1);
    margin-bottom: 10px;
    padding: 0 2% 2% 2%;
}

.rating {
    font-size: 1em;
    margin: 0;
}

.date {
    font-size: 0.75em;
    margin: 0;
    font-style: italic;
}

.close {
    float: right;
    color: red;
    opacity: 0.5;
    font-weight: bold;
    justify-self: center;
}

.close:hover,
.close:focus {
    color: red;
    opacity: 1;
    cursor: pointer;
}